<div id="schedule-bar">
  <iframe
    src="https://calendar.google.com/calendar/embed?mode=AGENDA
      &showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0
      &showCalendars=0&showTz=0&wkst=2
      &bgcolor=%230B0F16
      &ctz=Asia%2FHo_Chi_Minh
      &src=08d8c0e42355899e83ff0bf99b9a6f3f180f355889dd583e70a7643777fa3c98@group.calendar.google.com
      &src=1772247b245c023e3b2804684f41e49022c45e00e412258273011e7c3fc3730c@group.calendar.google.com
      &color=%237aa5ff&color=%23b19cff"
    frameborder="0" scrolling="no"></iframe>
</div>
