<!DOCTYPE html>
<html
  class="{% if site.dash.rtl %}direction--rtl{% else %}direction--ltr{% endif %}"
  lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include schedule.html -%}          <!-- thanh lịch: fixed -->
    {%- include spotify-player.html -%}    <!-- spotify: fixed -->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include header.html -%}
        {{ content }}
        {%- include footer.html -%}
      </div>
    </main>

    <script>
      window.FontAwesomeConfig = { searchPseudoElements: true };
    </script>
  </body>
</html>
